* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    position: relative;
    color: black;
}

nav a, footer a{
    color: white;
}

nav a:hover, nav a:hover {
    color: white;
}

header {
    background-color: black;
}

.navbar-nav li:hover>.dropdown-menu {
	display: block;
}

.navbar {
    padding-top: 15px;
    min-height: 85px;
    font-size: 120%;
}

.navbar-brand {
    font-size: 150%;
    font-family: 'Pacifico', cursive;
}

.collapse, .collapsing {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    min-height: 30px;
    padding: 15px 0 0px 0;
    font-size: 80%;
}

footer ul li {
    display: inline-block;
    margin: 0 2%;
}

main {
    color: black;
    padding: 5% 0;
}

.active {
    color: white;
    font-weight: bold;
}

#map, #hourlyWeatherTable { 
    width: 100%;
    height: 60vh;
    margin: 0 auto;
}

.my-custom-icon {
    min-width: 20px;
    min-height: 20px;
    background: url("lib/images/marker-icon.png");
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #C70039; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 100px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

#hourlyWeatherTable .nav:hover {
    cursor: pointer;
}

table {
    overflow: auto;
}

