<div class="p-3 about margin-bottom">
    <div class="pb-2">Author: Piotr Kucia</div>
    <div>
        This is My Weather.
        <ul class="pt-2">
            <li>I created this application in learning purposes.</li>
            <li>The app is made with use of AngularJS, Bootstrap, jQuery and Leaflet library.</li>
            <li>The weather data is loaded from OpenWeatherMap and Apixu APIs.</li>
            <li>The home page map uses OpenStreetMap tiles.</li>
            <li>All the images and icons are used non-commercially.</li>
        </ul>
    </div>
    <div class="row about-icon">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center p-2">
            <a href="https://www.facebook.com/piotrek.kucia" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center p-2">
            <a href="https://www.instagram.com/kuciapp" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center p-2">
            <a href="https://www.linkedin.com/in/piotrkucia95" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center p-2">
            <a href="https://www.github.com/piotrkucia95" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
    </div>
</div>