<nav class="navbar navbar-dark navbar-expand-lg navbar-expand-md">
		
        <a class="navbar-brand" href="/home" ng-click="setActive()">
            <img src="img/homeicon.png" width="60" height="60" class="d-inline-block mr-1" alt=""> 
            MyWeather
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
            
            <ul class="navbar-nav ml-auto dynamic-margin-right">
            
                <li class="{{'nav-item ' + (tabActive == 'home' || !tabActive ? 'active' : '')}}" id="home">
                    <a class="nav-link" href="/home" ng-click="setActive($event)">Home</a>
                </li>
                
                <li class="{{'nav-item ' + (tabActive == 'hourly' ? 'active' : '')}}" id="hourly">
                    <a class="nav-link" id="hourly" href="/hourly" ng-click="setActive($event)">Hourly</a>
                </li>

                <li class="{{'nav-item ' + (tabActive == 'daily' ? 'active' : '')}}" id="daily">
                    <a class="nav-link" href="/daily" ng-click="setActive($event)">Daily</a>
                </li>                  

                <li class="{{'nav-item ' + (tabActive == 'about' ? 'active' : '')}}" id="about">
                    <a class="nav-link" href="/about" ng-click="setActive($event)">About</a>
                </li>
            
            </ul>       
        </div>  
    </nav>