<h1 class="header-margin text-opacity">Welcome to MyWeather!</h1>
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-padding">
        <h4 class="mb-3 subheader text-opacity">Current weather in your location:</h4>
        <div class="" ng-include="'views/hourlyTable.html'"></div> 
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 margin-bottom">
        <div id="map"></div>
        <div class="input-home">
            <input class="input-styling" type="text" ng-model="currentCountry" ng-keyup="enterPressed($event)" placeholder="Enter country...">
            <button class="button-styling" ng-click="createMapForCountry(currentCountry)">Find country!</button>
        </div>
    </div>
</div>

<div id="snackbar">Country not found!</div>